{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize</title>

    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Font+Name&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'add.css'%}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><div id="menu-box-1" class="box"><a href="/home"><i class="ri-home-3-fill"></i></a></i></div></li>
            <li><div id="menu-box-2" class="box"><a href="/add"  target=""><i class="ri-edit-2-line"></i></a></div></li>
            <li><div id="menu-box-3" class="box"><i class="ri-line-chart-line"></i><div></li>
            
        </ul>
    </div>
    <main>
        <div class="one">
            <div class="name-div-1"><h3 id="text-hand">To-do<br>List</h3></div>
            <div class="name-div-2"></div>
        </div>

        <div class="two">
            <div class="from-div-1">
                <div class="form-div">
                    <form id="form-div-1" action="{% url 'add_task' %}" method="post">
                        {% csrf_token %}
                        <label  is="description" for="">Task Name</label>
                        <input class="same" name="task_name" required type="text">
                        <br>
                        <br>
                        <label for="">Description</label>
                        <br>
                        <input class="same" id="lol" name="task_descr" class="task-text" type="text">
                    </form>
                    <div class="button-div">
                        <button  form="form-div-1" type="submit">add</button>
                    </div>
                </div>
            </div>
            </div>

            
        </div>
    </main>
</body>
</html>